// Utilisation des styles globaux ou communs avec namespaces
@use './Header.scss' as header;
@use './Footer.scss' as footer;
@use './ProjectCard.scss' as card;

// Utilisation des styles spécifiques aux pages avec namespaces
@use './ProjectsPage.scss' as projectsPage;



html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    background: black;
}