.header {
  background: linear-gradient(135deg, black,black, #1B0D1C); /* Couleurs plus sobres */ //#291527// couleur violet foncé
  color: #F1F5F9; /* Texte plus clair pour un meilleur contraste */
  padding: 15px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Manrope', sans-serif;
  font-weight: 400;
  font-style: normal;
  width: 100%;
  position: relative;
  top: 0;
  transition: background 0.3s ease, opacity 0.3s ease;
  
  height: auto;
}




/* Style de base pour le logo */
.header .logo img {
  transition: filter 0.3s ease; /* Transition pour un effet plus doux */
  max-width: 22%; /* S'adapte à la largeur du conteneur */
    height: auto;    /* Garde les proportions */
    object-fit: contain; /* Ajuste l'image à la taille du conteneur */
}

/* Effet de surbrillance gris sur le logo */
.header .logo img:hover {
  filter: brightness(0.7); /* Applique un filtre de luminosité pour rendre l'image plus sombre */
}

.header nav ul {
  list-style: none;
  display: flex;
  gap: 1.2rem;
  margin: 0;
  padding: 0;
  font-size: 1.2rem;
}

.header nav ul li a {
  color: #CBD5E1; /* Couleur du texte douce et harmonieuse */
  text-decoration: none;
  padding: 8px 12px;
  transition: color 0.3s ease, background 0.3s ease;
  position: relative;
  border-radius: 5px;
}

.header nav ul li a:hover {
  color: #F1F5F9; /* Texte plus clair au survol */
  background-color: #1B0D1C; /* Arrière-plan au survol */
}

.header nav ul li a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -4px;
  height: 3px;
  width: 0;
  background-color: black; /* Ligne fine en violet */
  transition: width 0.3s ease-in-out;
  border-radius: 5px;
}

.header nav ul li a:hover::after {
  width: 100%;
}

/* Responsive Design */
@media (max-width: 1024px) {
  .header {
    padding: 10px 0;
  }

  .header .logo {
    font-size: 1.5rem;
  }

  .header nav ul {
    gap: 1rem;
    font-size: 1rem;
  }
}

@media (max-width: 768px) {
  .header {
    flex-direction: column;
    padding: 8px 0;
    position: relative;
  }

  .header .logo {
    font-size: 1.4rem;
    margin-bottom: 10px;
  }

  .header nav ul {
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
  }
}

@media (max-width: 480px) {
  .header {
    padding: 6px 0;
  }

  .header .logo {
    font-size: 1.2rem;
  }

  .header nav ul li a {
    padding: 6px;
    font-size: 0.9rem;
  }

  .header nav ul li a::after {
    height: 2px;
  }
}
