.header {
  background: linear-gradient(135deg, black,#1f2039, black); // Couleurs plus sobres
  color: #F1F5F9; // Texte plus clair pour un meilleur contraste
  padding: 15px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Manrope', sans-serif;
  font-weight: 400;
  font-style: normal;
  width: 100%;
  position: relative;
  top: 0;
  transition: background 0.3s ease, opacity 0.3s ease;
  height: auto;

  .logo {
    img {
      max-width: 22%; // Taille du logo
      height: auto;
      transition: filter 0.3s ease, transform 0.3s ease; // Effet de survol
      cursor: pointer;

      &:hover {
        filter: brightness(0.7);
        transform: scale(1.1); // Effet d'agrandissement
      }
    }
  }

  nav {
    ul {
      list-style: none;
      display: flex;
      gap: 1.2rem;
      margin: 0;
      padding: 0;
      font-size: 1.2rem;

      li {
        a {
          color: #CBD5E1; // Couleur du texte douce et harmonieuse
          text-decoration: none;
          padding: 8px 12px;
          border-radius: 5px;
          transition: color 0.3s ease, transform 0.3s ease;

          &:hover {
            
            color: #F1F5F9; // Texte plus clair au survol
            transform: scale(1.1); // Agrandissement du texte au survol
            background-color: #1f2039; // Fond violet foncé au survol
          }
        }
      }
    }
  }

  .social-links {
    display: flex;
    gap: 15px; // Espacement entre les liens
    align-items: center; // Alignement vertical des liens

    a {
      color: #F1F5F9;
      text-decoration: none;
      font-weight: bold;
      padding: 0.5rem;
      border-radius: 5px;
      transition: background-color 0.3s ease, transform 0.3s ease;

      &:hover {
        background-color: #291527;
        transform: scale(1.1); // Agrandissement du texte au survol
        color: #F1F5F9;
      }
    }
  }
}
