.loader-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}
  
.loader {
    width: 25em; /* Increased size */
    height: 25em; /* Increased size */
    background: linear-gradient(135deg, rgba(13, 11, 44, 0.5), rgba(181, 81, 199, 0.5), rgba(59, 50, 151, 0.5));
    animation: spin 3s infinite;
    position: relative; /* Add relative positioning for the before element */
}
  
.loader::before {
    content: "";
    z-index: -1;
    position: absolute;
    inset: 0;
    background: linear-gradient(135deg, rgba(13, 11, 44, 0.5), rgba(181, 81, 199, 0.5), rgba(59, 50, 151, 0.5));
    transform: translate3d(0, 0, 0) scale(0.95);
    filter: blur(20px);
}
  
@keyframes spin {
    0% {
        transform: rotate(-45deg);
    }
  
    50% {
        transform: rotate(-360deg);
        border-radius: 50%;
    }
  
    100% {
        transform: rotate(-45deg);
    }
}
  
.welcome-message {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    font-size: 4rem;
    font-weight: bold;
    z-index: 10;
    font-family: "Delius", cursive;
    font-weight: 400;
    font-style: normal;
}

/* Media queries for responsiveness */
@media (max-width: 1024px) {
    .loader {
        width: 20em;
        height: 20em;
    }
  
    .welcome-message {
        font-size: 3rem;
    }
}

@media (max-width: 768px) {
    .loader {
        width: 15em;
        height: 15em;
    }
  
    .welcome-message {
        font-size: 2.5rem;
    }
}

@media (max-width: 480px) {
    .loader {
        width: 10em;
        height: 10em;
    }
  
    .welcome-message {
        font-size: 2rem;
    }
}
