.fullscreen-carousel {
  padding: 15px 0;
}

.splide__slide {
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover; // Étire l'image pour qu'elle corresponde au conteneur
  background-position: center; // Centre l'image
}

.carousel-slide {
  width: 80%; // Conserve la largeur définie
  height: 90%; // Conserve la hauteur définie
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 20px;
  position: relative; // Nécessaire pour le positionnement absolu de `.content`
}

.main-content {
  .content {
    position: absolute;
    bottom: 36px; // Garde la position verticale d'origine
    left: 50%; // Centre horizontalement par rapport au parent
    transform: translateX(-50%); // Recentre parfaitement horizontalement
    background: rgba(48, 25, 52, 0.9); // Violet sombre avec 90% de transparence

    color: #ffffff;
    padding: 40px;
    border-radius: 8px;
    max-width: 445px;
    text-align: center; // Centre le texte horizontalement

    h2 {
      margin: 0 0 10px;
      font-size: 2.2rem;
      font-weight: bold;
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6); // Ajoute une ombre au texte
    }

    p {
      margin: 0 0 10px;
      font-size: 2rem;
      line-height: 1.4;
      text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5); // Ajoute une ombre légère pour le texte descriptif
    }

    a {
      display: inline-block;
      padding: 10px 20px;
      font-size: 0.875rem;
      font-weight: 600;
      text-transform: uppercase;
      text-decoration: none;
      color: #ffffff;
      background-color: #8e86b5;
      border-radius: 6px;
      transition: background-color 0.3s;
      text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6); // Ombre pour améliorer la lisibilité du lien

      &:hover {
        background-color: #6c63ff;
      }
    }
  }
}

